
{% extends "./BaseCamaras.html" %}
 <p>Aqui podras configurar las camaras del sistema</p>
 <a href="http://localhost:8000/camaras">Configurar Camaras</a>


{% block title %}
    Detector de Infracciones
{% endblock %}

{% block body %}
 <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h1> Gestión de Camaras</h1>
          <div class="card">
    <div class="card-body">
        <form action="/registrarCamara/" method="POST"> {% csrf_token %}
            <div class="form-group">
                <legend>ID de Camara</legend>
                <input type="number" id="idCamara" name="idCamara" class="form-control" value="{{ next_id }}" readonly required>
            </div>

            <div class="form-group">
                <legend>Nombre de Camara</legend>
                <input type="text" id="nombreCamara" name="nombreCamara" class="form-control" placeholder="Nombre" maxlength="20" required>
            </div>

            <div class="form-group">
                <label for="estadoCamara">Estado</label>
                <select id="estadoCamara" name="estadoCamara" class="form-control" required>
                    <option value="">Seleccionar estado</option>
                    <option value="Activado">Activo</option>
                    <option value="Desactivado">Desactivado</option>
                </select>
            </div>

            <!-- Selección de Direcciones -->
            <div class="form-group">
                <label for="idDireccionCamara">Dirección de la Cámara</label>
                <select id="idDireccionCamara" name="idDireccionCamara" class="form-control">
                    <option value="">Ninguno</option>
                    {% for direccion in direcciones %}
                        <option value="{{ direccion.id_direccion }}">{{ direccion.nombre_direccion }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Selección de tipos de ROI -->
            <div class="form-group">
                <fieldset>
                    <legend>Elegir tipos de Region de Interes (ROI):</legend>
                    <div>
                        <input type="checkbox" id="ROINormal" name="ROINormal" disabled checked />
                        <label for="ROINormal">Normal</label>
                    </div>

                    <div>
                        <input type="checkbox" id="ROIProhibido" name="ROIProhibido" onchange="toggleMaxROIInput()"/>
                        <label for="ROIProhibido">Prohibido</label>
                    </div>

                    <div>
                        <input type="checkbox" id="LuzRoja" name="LuzRoja" />
                        <label for="LuzRoja">Luz Roja</label>
                    </div>
                </fieldset>
            </div>

            <!-- Configuración de cantidad máxima de ROI prohibidos -->
            <div class="form-group">
                <label for="maxROIProhibido">Cantidad máxima de ROIs Prohibidos</label>
                <input type="number" id="maxROIProhibido" name="maxROIProhibido" class="form-control" min="1" max="3" placeholder="Ingrese el límite" disabled required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
            </div>
        </form>
        </div>
    </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
          <h1>Listado de Camaras</h1>
        <div class="table-responsive py-2">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Estado</th>
                  <th>Resolución</th>
                  <th colspan="3">Opciones</th>
                </tr>
              </thead>
              <tbody>
                {% for c in camaras_estado %}
                <tr>
                  <td>{{ c.camara.id_camara }}</td>
                  <td>{{ c.camara.nombre_camara }}</td>
                  <td>{{ c.camara.estado_camara }}</td>
                  <td>{{ c.camara.resolucion_camara }}</td>
                  <td>
                    <a id="camara-btn-{{ c.camara.id_camara }}"
                       href="{% if c.esta_activa %}detenerCamara/{{ c.camara.id_camara }}{% else %}iniciarCamara/{{ c.camara.id_camara }}{% endif %}"
                       class="btn btn-sm {% if c.esta_activa %}btn-danger{% else %}btn-success{% endif %}">
                      {% if c.esta_activa %}Detener{% else %}Iniciar{% endif %}
                    </a>
                  </td>
                  <td><a href="stream/{{ c.camara.id_camara }}" class="btn btn-sm btn-outline-info">Stream</a></td>
                  <td><a href="detallesCamara/{{ c.camara.id_camara }}" class="btn btn-sm btn-outline-primary">Detalles</a></td>
                  <td><a href="eliminarCamara/{{ c.camara.id_camara }}" class="btn btn-outline-danger btn-sm">Eliminar</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>



        </div>
      </div>
 </div>

    <!-- JavaScript para habilitar/deshabilitar la cantidad máxima de ROI Prohibido -->
    <script>
        function toggleMaxROIInput() {
            const roiProhibidoCheckbox = document.getElementById('ROIProhibido');
            const maxROIInput = document.getElementById('maxROIProhibido');

            if (roiProhibidoCheckbox.checked) {
                maxROIInput.disabled = false;
                maxROIInput.value = 1;  // Asignar el valor 1 cuando se selecciona ROI Prohibido
            } else {
                maxROIInput.disabled = true;
                maxROIInput.value = '';  // Limpiar el valor cuando se deshabilita
            }
        }
    </script>


<script>
  // Function to check if the camera thread is still active
  function checkCameraStatus(idCamara) {
      fetch(`/checkThreadStatus/${idCamara}/`)
          .then(response => response.json())
          .then(data => {
              let button = document.querySelector(`#camara-btn-${idCamara}`);

              if (data.is_active) {
                  // If active, show the "Detener" button
                  button.classList.remove('btn-success');
                  button.classList.add('btn-danger');
                  button.innerText = 'Detener';
                  button.href = `detenerCamara/${idCamara}`;
              } else {
                  // If not active, show the "Iniciar" button
                  button.classList.remove('btn-danger');
                  button.classList.add('btn-success');
                  button.innerText = 'Iniciar';
                  button.href = `iniciarCamara/${idCamara}`;
              }
          });
  }

  // Periodically check the status of all cameras
  setInterval(function() {
      {% for c in camaras_estado %}
          checkCameraStatus({{ c.camara.id_camara }});
      {% endfor %}
  }, 10000);  // Check every 10 seconds
</script>



{% endblock %}
