<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuracion de Camaras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .container{
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Detector De Infraccion</h1>
        <p>Aqui podras configurar las camaras del sistema</p>
        {% if camera_name and camera_location %}
            <p>Camera Name: {{ camera_name }}</p>
            <p>Camera Location: {{ camera_location }}</p>
        {% else %}
            <p>No camera configured yet</p>
        {% endif %}
        <a href="{% url 'camaras' %}">Configurar Camaras</a>

        <form method="post" action="{% url 'camaras' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="camera_name">Camera Name</label>
                <input type="text" class="form-control" id="camera_name" name="camera_name" required>
            </div>
            <div class="form-group">
                <label for="camera_location">Camera Location</label>
                <input type="text" class="form-control" id="camera_location" name="camera_location" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>
</body>
</html>