
{% extends "./BaseCamaras.html" %}
 <p>Aqui podras configurar las camaras del sistema</p>
 <a href="http://localhost:8000/camaras">Configurar Camaras</a>

{% block body %}
 <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <h1> Gestión de Camaras</h1>
          <div class="card">
              <div class="card-body" >
                  <form action="/registrarCamara/" method="POST"> {%csrf_token%}

                      <div class="form-group">
                          <input type="number" id="idCamara" name="idCamara" class="form-control" value="{{ next_id }}" readonly required>
                      </div>

                      <div class="form-group">
                          <input type="text" id="nombreCamara" name="nombreCamara" class="form-control" placeholder="Nombre"  maxlength="20" required>
                      </div>
                       <div class="form-group"> <label for="estadoCamara">Estado</label>
                           <select id="estadoCamara" name="estadoCamara" class="form-control" required>
                           <option value="">Seleccionar estado</option> <option value="Activado">Activo</option> <option value="Desactivado">Desactivado</option>
                           </select>
                       </div>

{#                      <div class="form-group">#}
{#                          <input type="text" id="resolucionCamara" name="resolucionCamara" class="form-control" placeholder="Resolucion" minlength="6" maxlength="10" required>#}
{#                      </div>#}
                       <div class="form-group">
                           <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
          <h1>Config de Camaras</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
              <thead>
                <tr>
{#                  <th>#</th>#}
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Estado</th>
                  <th>Resolución</th>
                  <th colspan="2">Opciones</th>
                </tr>
             </thead>
             <tbody>
                 {% for c in camaras %}
                 <tr>
{#                       <td>{{forloop.counter}}</td>#}
                       <td>{{c.id_camara}}</td>
                       <td>{{c.nombre_camara}}</td>
                       <td>{{c.estado_camara}}</td>
                       <td>{{c.resolucion_camara}}</td>
                       <td><a href="editarCamara/{{c.id_camara}}" class="btn btn-info">Editar</a> </td>
                       <td><a href="eliminarCamara/{{c.id_camara}}" class="btn btn-danger btnEliminacion">Eliminar</a> </td>
                 </tr>
                 {%  endfor %}
             </tbody>
          </table>
        </div>
      </div>
 </div>
{% endblock %}
