{% extends 'BaseCamaras.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<body class="text-center">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/9670/9670948.png" width="250" height="250" alt="">
        <h1 class="h3 mb-3 font-weight-normal">
            Por favor, inicie sesión
        </h1>
        <br>
        <label for="inputUsername" class="sr-only">
            Usuario
        </label>
        <input type="text" id="inputUsername" class="form-control" placeholder="User Name" name="username" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">
            Contraseña
        </label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</body>
{% endblock %}