{% extends 'BaseCamaras.html' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<body class="text-center">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/9670/9670948.png" width="250" height="250" alt="">
        <h1 class="h3 mb-3 font-weight-normal">
            Crear cuenta de nuevo usuario
        </h1>

        <!-- Form Fields -->
        <label for="inputUsername" class="sr-only">
            Nombre de Usuario
        </label>
        <input type="text" id="inputUsername" class="form-control" placeholder="User Name" name="username" required autofocus>
        <br>

        <!-- First Name Field -->
        <label for="inputFirstName" class="sr-only">
            Primer Nombre
        </label>
        <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" name="first_name" required autofocus>
        <br>

        <!-- Last Name Field -->
        <label for="inputLastName" class="sr-only">
            Apellido
        </label>
        <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" name="last_name" required autofocus>
        <br>

         <!-- Email Field -->
        <label for="inputEmail" class="sr-only">
            Correo Electrónico
        </label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required>
        <br>

        <!-- Password Fields -->
        <label for="inputPassword1" class="sr-only">
            Contraseña
        </label>
        <input type="password" id="inputPassword1" class="form-control" placeholder="Password" name="password1" required>
        <br>

        <label for="inputPassword2" class="sr-only">
            Confirmar Contraseña
        </label>
        <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password" name="password2" required>
        <br>

        <!-- Selección de Rol -->
        <div class="form-group">
            <label for="role">Rol del Usuario</label>
            <select class="form-control" id="role" name="role" required>
                <option value="NormalStaff">Empleado Normal</option>
                <option value="Admin">Administrador</option>
            </select>
        </div>

        <div class="checkbox mb-3">
            <a class="btn btn-sm btn-secondary" href="{% url 'listUsers' %}">Volver a lista usuarios</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Crear Cuenta</button>
    </form>
</body>
{% endblock %}
